<section class="content-cards-section" style="background-color:{{ section.settings.background_color }};">
    <div class="content-cards-inner">
        <header class="{{ section.settings.text_alignment }}">
            <h{{ section.settings.heading_size }} style="color:{{ section.settings.text_color }};">{{ section.settings.heading }}</h{{ section.settings.heading_size }}>
            <p>{{ section.settings.description_text }}</p>
        </header>
        <div>
            {% for block in section['block_order'] %}
            {% block %}
            {% endfor %}
        </div>
    </div>
</section>

{% styles %}

.content-cards-section {
    padding: 3rem 1rem;
    margin-bottom: 3rem;
}

.content-cards-section .content-cards-inner {
    display: flex;
    flex-direction: column;
}

.content-cards-inner > header {
    margin-bottom: 3rem;
}

.content-cards-inner > header h1,
.content-cards-inner > header h2,
.content-cards-inner > header h3,
.content-cards-inner > header h4,
.content-cards-inner > header h5,
.content-cards-inner > header h6 {
    margin-bottom: 1rem;
}

.content-cards-inner > header p {
    font-size: 1.2rem;
    line-height: 24px;   
}

.content-cards-inner .content-card {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.content-cards-inner .align-left {
    text-align: left;
    align-items: flex-start;
}

.content-cards-inner .align-center {
    text-align: center;
    align-items: center;
}

.content-cards-inner .align-right {
    text-align: right;
    align-items: flex-end;
}

.content-cards-section .img-frame {
    width: 30%;
    height: auto;
    min-height: 150px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content-cards-section .img-frame img {
    width: 100%;
    height: auto;
    min-height: 100px;
    object-fit: contain;
}

.content-cards-section .content h1,
.content-cards-section .content h2,
.content-cards-section .content h3,
.content-cards-section .content h4,
.content-cards-section .content h5,
.content-cards-section .content h6 {
    margin-bottom: 1rem;
}

.content-cards-section .content .text {
    font-size: 1rem;
    line-height: 1.3rem;
}

@media (min-width: 768px) {
     .content-cards-inner > div {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 5rem;
    }
    .content-cards-section .content-card {
        margin-bottom: 0;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "Content Cards Section",
    "description": "Image & Text Cards",
    "max_blocks": 3,
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "1",
             "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#69727b"
        },
        {
            "type": "richtext",
            "id": "description_text",
            "label": "Description Text"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "align-left",
                    "label": "Left"
                },
                {
                    "value": "align-center",
                    "label": "Center"
                },
                {
                    "value": "align-right",
                    "label": "Right"
                }
            ],
            "default": "align-left"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#ffffff"
        }
    ],
    "blocks": [
        {
            "type": "content_card",
            "name": "Content Card"
        }
    ]
}
{% endschema %}