<div class="content-card {{ block.alignment }}">
    <div class="img-frame" style="width:{{ block.photo_size }};">
        {% unless block.photo == blank %}
        <img src="{{ block.photo | img_url: image_size }}"
            alt="{{ block.photo_alt }}"
            loading="lazy" />
        {% endunless %}
    </div>
    <div class="content">
        <h{{ block.header_size }}>{{ block.header_text }}</h{{ block.header_size }}>
        <div class="text">
            {{ block.desc_text }}
        </div>
    </div>
</div>

{% schema %}
 {
    "name": "Content Card",
    "settings": [
        {
            "type": "image_picker",
            "id": "photo",
            "label": "Cover Photo"
        },
        {
            "type": "text",
            "id": "header_text",
            "label": "Header Text"
        },
        {
            "type": "select",
            "id": "header_size",
            "label": "Header Size",
            "default": "3",
             "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "select",
            "id": "photo_size",
            "label": "Image Size",
            "options": [
                {
                    "value": "100%",
                    "label": "Full-width"
                },
                {
                    "value": "50%",
                    "label": "Half-width"
                },
                {
                    "value": "30%",
                    "label": "One-third-width"
                }
            ],
            "default": "30%"
        },
        {
            "type": "text",
            "id": "photo_alt",
            "label": "Alt Text"
        },
        {
            "type": "richtext",
            "id": "desc_text",
            "label": "Description"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "align-left",
                    "label": "Left"
                },
                {
                    "value": "align-center",
                    "label": "Center"
                },
                {
                    "value": "align-right",
                    "label": "Right"
                }
            ],
            "default": "align-left"
        }
    ]
}
{% endschema %}